#env file for development environment, do not commit to version control
HIVEMQ_HOST=
HIVEMQ_PORT=
HIVEMQ_USER=
HIVEMQ_PASSWORD=
HIVEMQ_TOPIC=

INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=